@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'log-in';
@import 'nav';
@import 'footer';
@import 'messages';

html {
  box-sizing: border-box;
  background-color: #e8e8e8;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: 'Raleway';
  color: black;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  padding: 2rem 1rem;
}
form {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 20rem;
  padding: 2rem;
  box-shadow: 0px 5px 15px #0000001c;
  h1 {
    text-align: center;
  }
  .form-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    input,
    textarea {
      height: 2rem;
      padding: 0.5rem;
      padding-top: 0.7rem;
      border: solid 1px black;
      border-radius: 0;
      outline: none;
      &:focus {
        border: #070707 solid 2px;
      }
    }
    textarea {
      resize: vertical;
      min-height: 10rem;
      max-height: 20rem;
    }
    label {
      transform: translate(0.5rem, 0.6rem);
      background-color: white;
      width: fit-content;
      padding: 0 0.5rem;
    }
  }
  p.wrong {
    color: #b82500;
  }
  .form-buttons {
    margin-top: 1rem;
  }
  .error {
    text-justify: inter-word;
    font-size: 0.8rem;
  }
  button {
    cursor: pointer;
    z-index: 1;
    position: relative;
    font-size: 1rem;
    padding: 0.8em 1.5em;
    border-radius: 2em;
    border: none;
    background-color: #ffc400;
    font-weight: 600;
    overflow: hidden;
    transition: box-shadow 500ms cubic-bezier(0.495, 0.18, 0, 1);
    &:hover {
      box-shadow: 0 2px 10px #00000013;
    }
  }
}
.message-form form {
  max-width: 25rem;
}
a {
  text-decoration: none;
}
